{% extends 'base.html' %}
{% include 'header.html' %}
{% block container %}
<div class="container">
	<div class="frame text-center">
		<p class="form-text">Continue to sign-in with your google account:</p>
		<div id="signinButton">
	        <span class="g-signin"
	            data-scope="openid email"
	            data-clientid="8823808927-l5n87lcvc0k378eav1b4v7iojv89e696.apps.googleusercontent.com"
	            data-redirecturi="postmessage"
	            data-accesstype="offline"
	            data-cookiepolicy="single_host_origin"
	            data-callback="signInCallback"
	            data-approvalprompt="force">
	        </span>
	    </div>
	</div>
</div>
{% endblock %}