{% extends 'base.html' %}
{% include 'header.html' %}
{% block container %}
<h2 class="text-center category-new-intro">Create New Category</h1>
<div class="container">
<form action="{{url_for('newCategory')}}" class="form-signin" method=post>
	<div class="form-group">
		<label class="form-control-label">Category Name:</label>
		<input class="form-control" type="text" name="name" required>
	</div>
	<div class="form-group">
		<label class="form-control-label">Category Image URL:</label>
		<input class="form-control" type="text" name="picture" required>
	</div>
	<input class="btn btn-lg btn-primary btn-block" type="submit" value="Create">
</form>
</div>
{% endblock %}
